.main {
    font-style: italic;
    font-size: large;
}

.redtext {
    color: red;
}

#codee {
    position: relative;
    border-top: 100px;
    border-bottom: 10px;
    border-color: red;
}

.em {
    font-style: oblique;
}

.strong {
    font-weight: 700;
}

.mark {
    background-color: yellow;
}

.s {
    text-decoration: line-through;
}


.sup {
    vertical-align: super;
    font-size: 10px;
}